
2 - Curso Pandas/.ipynb_checkpoints/Relatório de Análise I-checkpoint.ipynb
2 - Curso Pandas/.ipynb_checkpoints/Relatório de Análise II-checkpoint.ipynb
2 - Curso Pandas/.ipynb_checkpoints/Relatório de Análise IV-checkpoint.ipynb
2 - Curso Pandas/.ipynb_checkpoints/Relatório de Análise V-checkpoint.ipynb
2 - Curso Pandas/.ipynb_checkpoints/Relatório de Análise VI-checkpoint.ipynb
2 - Curso Pandas/.ipynb_checkpoints/Relatório de Análise VII-checkpoint.ipynb
2 - Curso Pandas/.ipynb_checkpoints/Relatório de Análise VIII-checkpoint.ipynb
2 - Curso Pandas/Extras/.ipynb_checkpoints/Contadores-checkpoint.ipynb
2 - Curso Pandas/Extras/.ipynb_checkpoints/Criando Estruturas de Dados-checkpoint.ipynb
2 - Curso Pandas/Extras/.ipynb_checkpoints/Criando Faixas de Valor-checkpoint.ipynb
2 - Curso Pandas/Extras/.ipynb_checkpoints/Formas de Seleções-checkpoint.ipynb
2 - Curso Pandas/Extras/.ipynb_checkpoints/Importando Dados-checkpoint.ipynb
2 - Curso Pandas/Extras/.ipynb_checkpoints/Métodos de Interpolação-checkpoint.ipynb
2 - Curso Pandas/Extras/.ipynb_checkpoints/Organizando DataFrames(Sort)-checkpoint.ipynb
4 - Curso Machine Learning/Curso ScikitLearn/.ipynb_checkpoints/Aula5_scikitlearn-checkpoint.ipynb
5 - Curso Scraping com Python/.ipynb_checkpoints/Web Scraping-checkpoint.ipynb
5 - Curso Scraping com Python/aula 3/.ipynb_checkpoints/Web Scraping-checkpoint.ipynb
